:root {
    --primary-text-color: #757575;
    --headers-text-color: #212121;
    --bg-color: #ffffff;
    --sec-bg-color: #F5F4FA;
    --footer-adr-text: rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
    --Logo-bt-link: #2196F3;
}

body {
    color:var(--primary-text-color);
    background-color: var(--bg-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

.aaa {
    text-decoration: none;
    color: #757575;
}



.h {
    color: var(--headers-text-color);
}


/*header*/

.shapka {
    display: flex;
    list-style-type: none;
}

.logo {
    color: var(--Logo-bt-link);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

.logo .black {
    color: black;
}
.link {
    text-decoration: none;
    color: #757575;
}

.link:hover, 
.link:focus {
    color: var(--Logo-bt-link);
    line-height: 24px;
}

.link:active {
    color: var(--Logo-bt-link);
    line-height: 24px;
}
.h.hs {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.peculiarities {
    list-style-type: none;
    display: flex;
    padding: 94px 215px;
}




/*main*/
    /*hero*/
.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color);
}

.btn {
    color: var(--bg-color);
    background-color: var(--Logo-bt-link);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
       
}

.btn:hover,
.btn:focus {
    background-color: #188CE8;
}

.whatwedo {
    display: flex;
    list-style-type: none;
    padding: 50px 215px 94px 215px;
}
.whatwedo .foto {
    margin-right: 50px;
}

.team {
    display: flex;
    list-style-type: none;
    padding: 50px 215px 94px 215px;
}

.team .foto {
    margin-right: 50px;
}

/* footer*/

.footer {
    background-color: var(--footer-bg);
    padding-left: 215px;
}

.logo .white {
    color:var(--bg-color)
}

.addr {
    list-style-type: none;
}

/*для портфолiо сторiнки*/

.btn.port {
    color: var(--headers-text-color);
    background-color: var(--sec-bg-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;


}

.btn.port:hover,
.btn.port:focus {
    background-color: var(--Logo-bt-link);
    color: var(--bg-color);
}

.h.portfolio {
    font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
}

.flexim {
    flex-wrap: wrap;
}